# Xcode
.DS_Store
DerivedData/
*.xcuserstate
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.swp
*.tmp

# User-specific Xcode settings
xcuserdata/

# SwiftPM
.build/
Package.resolved

# CocoaPods (якщо раптом)
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Firebase / GoogleService
GoogleService-Info.plist

# Secrets / env
*.env
*.secret
Secrets.plist
